name: Generate Datas

on:
  schedule: # s'exécute toutes les 12 heures (à 00:00 et 12:00)
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    name: Jobs to update datas
    runs-on: ubuntu-latest
    steps:
      # Snake Animation
      - uses: Platane/snk@master
        id: snake-gif # <-- Corrigé : 'id' est sur sa propre ligne
        with:        # <-- Corrigé : 'with' est sur sa propre ligne
          github_user_name: JorisLne
          svg_out_path: dist/github-contribution-grid-snake.svg

      - uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          target_branch: output
          build_dir: dist
        env: # <-- Corrigé : 'env' est au même niveau que 'uses' et 'with'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
